*{
    margin: 0px;
    padding: 0px;
    list-style: none;
	box-sizing: border-box;
}
.gerador{
    display: flex;
    justify-content: center;
    padding: 0px;
}
.gerador__item{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.visor{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:600px) {
    .gerador{
       flex-direction: column;
    }
}